[core]
  pager = delta
  editor = nvim

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[diff]
  colorMoved = default
  tool = nvimdiff

[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[push]
	autoSetupRemote = true

[includeIf "gitdir:~/git/github.com/razcoen/"]
    path = ~/.gitconfig.razcoen
